body {
    background-color: royalblue;
    font-size: 16px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 100%;
}

.home {
    width: auto;
    margin: 5px;
    display: flex;
}

.home div {
    display: inline-block;
    margin: 1em 4% 1em 0;
}


header {
    padding: 5px 0;
    max-width: 960px;
    margin: 0 auto;
    white-space: nowrap;
}

header h1 {
    display: inline-block;

}

header picture {
    display: inline-block;
    max-width: 60%;
}

header nav {
    display: inline-block;
    text-align: right;

}

header nav ul {
    list-style-type: none;

}

header nav ul li {
    float: left;

}

header nav a {
    display: inline-block;
    padding: 1em;
    text-decoration: none;
}

#hero{
    max-width: 100%;
}


#temple {
    max-width: 960px;
}

#family {
    text-align: center;
    background-color: royalblue;
}

h2 {
    font-size: 2rem;
    color: white;
}


#hotel {
    display: flex;
    margin: 2rem;
    padding: 1rem;
}

#weddings {
    display: flex;
    margin: 2rem;
    padding: 10px;
}

#social {
    display: flex;
    background-color: white;
    color: black;
    border-style: solid;
    border-width: 1em;
    padding: 1rem;
    display: flex;
}

#social div {
    display: inline-flex;
    margin: 1em 5% 1em 0;
}


main {
    max-width: 960px;
    margin: 0 auto;
    padding-bottom: 5em;
}

footer {
    max-width: 960px;
    margin: 0 auto;
}

#logo {
    max-width: 5%;
    background-color: white;
}